*.aux
*.log

.bundle

abitex/fetchpupils.sh
abitex/fetchcourses.sh
abitex/*.json

abitex/*.pdf
abitex/tex/*.pdf
abitex/tex/pupils/*
abitex/tex/coursereports/*
abitex/tex/abi.maf
abitex/tex/abi.stc*
abitex/tex/abi.mtc*
abitex/tex/abi.out
abitex/tex/abi.toc
abitex/tex/avatars/*
abitex/.lastavafetch
abitex/tex/rev.tex
abitex/mount.sh
abitex/push.sh
abitex/tex/mems.tex
abitex/tex/polls.tex
abitex/tex/pupilspages.tex
abitex/tex/courses.tex

abitex/mongourl
abitex/dates
abitex/backup/*
abitex/dump.sh
.sass-cache
contrib/allusers
abitex/linked
abitex/fetchmemoirs.sh
abitex/tex/courses
abitex/tex/courseclouds/
abitex/draftflag
*.pyc
abitex/tex/processed_peopleavatars/
abitex/tex/grouppics/
