.user_name {
  font-weight: bold;
}

.flash {
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  left: 50%;
  overflow: hidden;
  padding: 2%;
  margin: 0 0 0 -35%;
  position: absolute;
  top: -20px;
  width: 70%;
  
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.flash h1 {
  font-size: 3em;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.flash p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 1em 0 0.5em;
  padding: 0;
}

.poll-info {
  color: #aaa;
  list-style-type: none;
}

.poll-name {
  font-size: 25px;
}

.answers-table tr, .answers-table td {
  border: 0 !important;
}

.answer .name {
  font-weight: bold;
}

.answer .votes {
  font-size: 25px;
}

.answer .info {
  color: #aaa;
}

.answer .creator {
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  margin-top: -5px;
  display: inline-block;
}

.answer .choice, .answer .alternative {
  border: 0;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.answer .choice {
  background: #00963F;
}

.answer .alternative {
  background: #838A62;
}

#template #splash {
  margin: 20px auto 50px;
  text-align: center;
}

#splash li {
  display: inline-block;
  width: 20%;
  background: #ddd;
  padding: 20px;
  margin: 0 20px;
  border-radius: 15px;
  border: 0;
  box-shadow: 0 0 20px #999;
}

#splash li.disabled a {
   color: #aaa;
}

#chat li {
  list-style-type: none;
}

#chat li .author {
  color: #555;
}

#chat li .time {
  color: #777;
  font-size: 80%;
}