//= require dark-hive/jquery-ui-1.8.16.custom
//= require gollum
//= require template
//= require nomail-blocker

.user_name {
  font-weight: bold;
}


.flash {
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  left: 50%;
  overflow: hidden;
  padding: 2%;
  margin: 0 0 0 -35%;
  position: absolute;
  top: -20px;
  width: 70%;
  
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

p.form-error {
  $color: #B51039;
  border: 5px solid $color;
  background: #D19292;
  padding: 20px !important;
}

.flash h1 {
  font-size: 3em;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.flash p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 1em 0 0.5em;
  padding: 0;
}

.poll-info {
  color: #aaa;
  list-style-type: none;
  margin: 10px;
}

.poll-name {
  font-size: 25px;
}

.answers-table tr, .answers-table td {
  border: 0 !important;
}

.answer .name {
  font-weight: bold;
}

.answer .votes {
  font-size: 25px;
}

.answer .info {
  color: #aaa;
}

.answer .creator {
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  margin-top: -5px;
  display: inline-block;
}

.vote-button {
  border: 0;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.answer .choice, .answer .confirm {
  background: #00963F;
}

.answer .alternative, .answer .cancel {
  background: #838A62;
}

#template #splash {
  margin: 20px auto 50px;
  text-align: center;
}

.global-count {
  float: right;
  clear: right;
  text-transform: uppercase;
  font-size: 90%;
}

.global-count span {
  font-size: 300%;
  position: relative;
  top: .2em;
  margin: 5px;
}

.speech-bubble {
	position:absolute;
	top: -20px;
	left: 100px;
	padding:15px 30px;
	margin:0;
	color:#222;
	font-size: 120%;
	
	background:#f3961c; /* default background for browsers without gradient support */
	/* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	/* Using longhand to avoid inconsistencies between Safari 4 and Chrome 4 */
	-webkit-border-top-left-radius:25px 50px;
	-webkit-border-top-right-radius:25px 50px;
	-webkit-border-bottom-right-radius:25px 50px;
	-webkit-border-bottom-left-radius:25px 50px;
	-moz-border-radius:25px / 50px;
	border-radius:25px / 50px;
	box-shadow: 0 0 15px #D9AE75;
}

/* creates the larger triangle */
.speech-bubble:before {
	content:"";
	position:absolute;
	bottom:-30px;
	right:80px;
	border-width:0 0 30px 50px;
	border-style:solid;
	border-color:transparent #f3961c;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller triangle */
.speech-bubble:after {
	content:"";
	position:absolute;
	bottom:-30px;
	right:110px; 
	border-width:0 0 30px 20px;
	border-style:solid;
	border-color:transparent #ddd;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}


#splash li {
  display: inline-block;
  position: relative;
  width: 20%;
  background: #ddd;
  padding: 20px;
  margin: 0 20px;
  border-radius: 15px;
  border: 0;
  box-shadow: 0 0 20px #ccc, inset 0 0 10px #aaa;
}

#splash li.disabled a {
   color: #aaa;
}

#chat li {
  list-style-type: none;
}

#chat li .author {
  color: #555;
}

#chat li .time {
  color: #777;
  font-size: 80%;
}

#abimotto-flow {
  margin: 20px 0 50px 0 !important;
}

#abimotto-flow li {
  margin: 0 30px;
  background-color: #93C494;
  padding: 30px;
  box-shadow: inset 0 0 12px #444, 0 0 15px #444;
  list-style-type: none;
  color: #637563;
}

#abimotto-flow li .phase {
  color: #7EA67F;
  text-transform: uppercase;
  font-size: 500%;
  float: right;
  font-weight: lighter;
  opacity: .5;
  font-family: "Lucida Sans Unicode", "Lucida Grande";
  text-shadow: 0 0 .2em #71BF72;
}

#abimotto-flow h3 {
  margin: .4em 0;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0;
  text-shadow: 0 0 .2em #71BF72;
  color: #90A691;
  font-size: 150%;
}


#abimotto-flow li.active .phase {
  color: #8CCF8E;
  opacity: .3;
}

#abimotto-flow li.active {
  background-color: #298A2B;
}

#abimotto-flow li.active h3 {
  color: #8BE88D;
}



#abimotto-flow strong {
  display: block;
  background-color: #1E5E1F;
  width: 50%;
  text-align: center;
  margin: 1em auto;
  padding: 5px;
}

#abimotto-flow a {
  color: #CCE8CD;
}

#abimotto-flow a:hover {
  text-decoration: none
}

.clearfix {
  clear: both;
}

.courses {
}

.course-group {
  display: inline;
  float: left;
  margin: 20px;
  padding: 20px;
  background: #eee;
  box-shadow: 0 0 10px #bbb;
  border-radius: 5px;
}

.course-group h3 {
  display: inline;
}

.course-group ul {
  display: inline;
}



.download-button {
  margin: 20px auto 30px;
  display: block;
  background: url(/images/icons/download.png) #ddd no-repeat;
  background-position: 20px center;
  background-size: 60px;
  border-radius: 5px;
  box-shadow: 0 0 15px #ccc, inset 0 0 10px #ccc;
  width: 30em;
  font-weight: bold;
  padding: 30px;
  padding-left: 100px;
}
