.course {
  .meta {
    font-size: 110%;
    color: #888;

    strong, .dataz {
      color: #333;
      font-size: 150%;
    }
  }

  .metaform {
    font-size: 110%;

    strong, .dataz {
      font-size: 130%;
    }
  }

  border: 1px solid #ccc;
  border-width: 1px 0;
  padding: 0.7em;
  margin: 1.5em 0;
}

h4.subject {
  margin-top: 3.4em !important;
}