%h1 Kommentare

%p
  Hier kannst du die Kommentare anschauen, die für die jeweilige Person hinterlassen wurden, und selbst neue schreiben.
  Nicht sparsam sein, es wird genug Platz geben!

%table
  - Person.order_by([:uid, :asc]).each do |p|
    %tr[p]
      %td= p.name
      %td
        .tags
          - p.tags.each do |t|
            %span.tag= t.name
        %form.ajaxtag{ action: "/people/#{p.uid}/tags", method: 'post' }
          %input.tagname{ name: 'tag[name]', type: 'text' }
          %input{ type: 'submit', value: 'Hinzufügen' }

:javascript
    $('form.ajaxtag').submit(function() {
      var f = $(this)

      var x = f.find('.tagname').val()
      f.data('pending', x)
      
      setTimeout(function() {
        f.find('.tagname').val('')
      }, 200)
    })

    $('form.ajaxtag').ajaxForm({
      success: function(body, state, xhr, form) {
        form.prev().append("<span class='tag'>"+form.data('pending')+"</span> ")
      }
    });