%h1= @person.name
%form{ action: "/people/#{@person.uid}/page", method: 'post' }
  %h2 Steckbrief
  %p
    Kurs:
    = precede "K2." do
      %input{ name: "page[kurs]", value: @page.kurs, type: 'text', :size => 1, :placeholder => 'z.B. 5' }
    %br
    
    %input{:name => "page[g8]", :type => "hidden", :value => "false" }/
    %input{:checked => @page.g8, :name => "page[g8]", :type => "checkbox", :value => "true" }/
    %label{:for => "page[g8]"} G8?
    %br
    
    %label{:for => "page[lks]"} vierstündige Kurse:
    %input{ name: "page[lks]", value: @page.lks, type: 'text', :placeholder => 'z.B. "Molekularspaß mit Hr Kaindl"', :size => 40 }
    %br
    
    %label{:for => "page[bio]"} Kurzbeschreibung:
    %input{ name: "page[bio]", value: @page.bio, type: 'text', :maxsize => 140, :placeholder => "z.B. ein Zitat, ein Erlebnis" }
    (Maximal 140 Zeichen!)
  
  %h2 Text
  %p
    %textarea{:name => "page[text]", :cols => 80, :rows => 15 }= @page.text
  
  %h2 Tags
  %p
    Tags: noch keine
  
  %p
    %input{ type: 'submit', value: 'Speichern' }