%h1= @person.name
%form{ action: "/people/#{@person.uid}/page", method: 'post' }
  %h2 Steckbrief
  %p
    Kurs:
    = precede "K2." do
      %input{ name: "page[kurs]", value: @page.kurs, type: 'text', :size => 1, :placeholder => 'z.B. 5' }
    %br
    
    %input{:name => "page[g8]", :type => "hidden", :value => "false" }/
    %input{:checked => @page.g8, :name => "page[g8]", :type => "checkbox", :value => "true" }/
    %label{:for => "page[g8]"} G8?
    %br
    
    %label{:for => "page[lks]"} vierstündige Kurse:
    %input{ name: "page[lks]", value: @page.lks, type: 'text', :placeholder => 'z.B. "Molekularspaß mit Hr Kaindl"', :size => 40 }
    %br
    
    %label{:for => "page[bio]"} Kurzbeschreibung:
    %input{ name: "page[bio]", value: @page.bio, type: 'text', :maxsize => 140, :placeholder => "z.B. ein Zitat, ein Erlebnis" }
    (Maximal 140 Zeichen!)
    
    %br
    Tags: kommt noch
  
  %h2 Text
  %p
    %textarea{:name => "page[text]", :cols => 100, :rows => 15 }= @page.text
  
  %h3 Vorschau
  .wmd-preview
  :javascript
    // to set WMD's options programatically, define a "wmd_options" object with whatever settings
    // you want to override.  Here are the defaults:
        wmd_options = {
      // format sent to the server.  Use "Markdown" to return the markdown source.
      output: "Markdown",
  
      // line wrapping length for lists, blockquotes, etc.
      lineLength: 40,
  
      // toolbar buttons.  Undo and redo get appended automatically.
      buttons: "bold italic | blockquote | ol ul heading",
  
      // option to automatically add WMD to the first textarea found.  See apiExample.html for usage.
      autostart: true
    };
  
  %script{:src => "/javascript/wmd/wmd.js", :type => "text/javascript"}
  
  %p
    %input{ type: 'submit', value: 'Speichern' }