%h1 Was zur Hölle ist das hier?
%p Eine Seite für die Planung unserer Abisachen, insbesondere der Abizeitung.

%ul#splash
  %li
    %a{ :href => '/#newusers'}
      %img{ :src => '/images/icons/id_card.png' }
      %h3 Steckbriefe
  
  /
    %li.disabled
      %a{ :href => '/'}
        %img{ :src => '/images/icons/page_full_greyscale.png' }
        %h3 Kursberichte (bald)
  
  %li
    %a{ :href => '/polls'}
      %img{ :src => '/images/icons/bars.png' }
      %h3 Umfragen/Abstimmungen

%h2 Chat
%ul#chat
  %li
    %span.author Jonas
    %span.time (19:30)
    %span.message Hai
  %li
    %span.author Lukas
    %span.time (19:31)
    %span.message Su Plox

:javascript
  var pusher = new Pusher('37555e9a66ad61ff5dc8');
  
  function renderMessage(msg) {
    var a = $("<li>")
      .append("<span class=author>"+msg.author+"</span>")
      .append(" <span class=time>("+msg.created_at+")</span>: ")
      .append(" <span class=message>"+msg.body+"</span>")
    $("#chat").append(a)
  }

  var thingChannel = pusher.subscribe('chat');
  thingChannel.bind('message', function(message) {
    renderMessage(message)
  });

%h2 Neue Benutzer
%a{ name: 'newusers' }
%p Klicken auf den Namen führt zur Benutzerseite des jeweiligen Menschen.
%ul
  - Person.all.each do |person|
    %li
      %a{ :href => "/people/#{person.uid}/page" }= person.name