%h2 Umfragen
%ul
- @polls.sort{|p|p.votes.length}.reverse.each do |poll|
  %li.poll-info
    %a.poll-name{:href => "/polls/#{poll.id}" }= poll.title
    von
    = poll.creator.name
    = surround '(', ')' do
      = poll.votes.length
      Teilnehmer

%h2 Neue Umfrage
%form{ action: "/polls", method: 'post' }
  %p
    Titel:
    %input{ name: "poll[title]", type: 'text', :size => 50, :placeholder => 'z.B. "Welches Abimotto fändet ihr am Besten?"' }

  %p
    %input{ type: 'submit', value: 'Umfrage erstellen' }