%form{ action: "/preferences", method: 'post' }
  %h2 Einstellungen
  %p
    %label{:for => "person[name]"} Angezeigter Name:
    %input{ name: "person[name]", value: @person.name, type: 'text', :size => 40 }
    %strong Hier sollen nicht irgendwelche Nicknames eingetragen werden! Mit diesem Namen taucht ihr auch in der Abizeitung auf, also lasst das. Wer irgendeinen Unfug einträgt, bekommt seinen richtigen Namen zurück. -.-

  %p
    %label{:for => "person[email]"} E-Mail-Addresse
    %input{ name: "person[email]", value: @person.email, type: 'text', :placeholder => '(für Benachrichtigungen)', :size => 40 }
  
  %h2 Steckbrief
  
  %p
    %strong Bild hochladen
    %br
    %input{ name: "person[avatar]", type: 'file' }
  
  %p
    Kurs:
    = precede "K2." do
      %input{ name: "person[kurs]", value: @person.kurs, type: 'text', :size => 1, :placeholder => 'z.B. 5' }
    %br
    
    %input{:name => "person[g8]", :type => "hidden", :value => "false" }/
    %input{:checked => @person.g8, :name => "person[g8]", :type => "checkbox", :value => "true" }/
    %label{:for => "person[g8]"} G8?
    %br
    
    %label{:for => "person[lks]"} vierstündige Kurse:
    %input{ name: "person[lks]", value: @person.lks, type: 'text', :placeholder => 'z.B. "Molekularspaß mit Hr Kaindl"', :size => 40 }
    %br
    
    %label{:for => "person[bio]"} Kurzbeschreibung:
    %input{ name: "person[bio]", value: @person.bio, type: 'text', :maxsize => 140, :placeholder => "z.B. ein Zitat, ein Erlebnis" }
    (Maximal 140 Zeichen!)
    
    %br
    Tags: kommt noch
  %p
    %input{ type: 'submit', value: 'Speichern' }