%form{ action: "/preferences", method: 'post', enctype: 'multipart/form-data' }
  %h2 Einstellungen
  %p
    %label{:for => "person[name]"} Angezeigter Name:
    %input{ name: "person[name]", value: @person.name, type: 'text', :size => 40 }
    %strong Hier sollen nicht irgendwelche Nicknames eingetragen werden! Mit diesem Namen taucht ihr auch in der Abizeitung auf, also lasst das. Wer irgendeinen Unfug einträgt, bekommt seinen richtigen Namen zurück. -.-

  %p
    %label Passwort:
    %em
      Dein Passwort kannst du in der
      %a{ href: 'https://www.fichteportfolio.de:8888/schulkonsole/start' } Schulkonsole
      ändern.
  %p{ class: (@person.errors.include?(:email) ? 'form-error' : '') }
    %label{:for => "person[email]"} E-Mail-Addresse
    %input{ name: "person[email]", value: @person.email, type: 'text', :placeholder => '(für Benachrichtigungen)', :size => 40 }
  
  %h2 Steckbrief
  
  %p
    Kurs:
    = precede "K2." do
      %input{ name: "person[kurs]", value: @person.kurs, type: 'text', :size => 1, :placeholder => 'z.B. 5' }
    %br
    
    %input{:name => "person[g8]", :type => "hidden", :value => "false" }/
    %input{:checked => @person.g8, :name => "person[g8]", :type => "checkbox", :value => "true" }/
    %label{:for => "person[g8]"} G8?
    %br

    Ich bin Meister in
    %input{ name: "person[lks]", value: @person.lks, type: 'text', :placeholder => '(vierstündige Kurse)', :size => 40 }
    %em (Wenn davor statt "in" ein "im" stehen soll, schreib hier rein "(IM!) Sachen vergessen")
    ,
    %br

    und später werd' ich mal
    %input{ name: "person[zukunft]", value: @person.zukunft, size: 60, type: 'text', :placeholder => "z.B. werde ich Atomrandphysiker" }
    == .
    %br

    Jetzt nach dem Abi:
    %input{ name: "person[nachabi]", value: @person.nachabi, size: 60, type: 'text', :placeholder => "z.B. nehm ich kein Buch mehr in die Hand" }
    == .
    %br
        
    Ohne
    %input{ name: "person[lebenswichtig]", value: @person.lebenswichtig, type: 'text', size: 30}
    hätte ich das Abi aber nicht geschafft.
    %br

    Ach, und übrigens:
    %input{ name: "person[nachruf]", value: @person.nachruf, size: 60, type: 'text' }
    %br
  
  %p
    %input{ type: 'submit', value: 'Speichern' }