%form{ action: "/preferences", method: 'post' }
  %h2 Einstellungen
  %p
    %label{:for => "preferences[name]"} Angezeigter Name:
    %input{ name: "preferences[name]", value: @preferences.name, type: 'text', :size => 40 }
    %strong Hier sollen nicht irgendwelche Nicknames eingetragen werden! Mit diesem Namen taucht ihr auch in der Abizeitung auf, also lasst das. Wer irgendeinen Unfug einträgt, bekommt seinen richtigen Namen zurück. -.-

  %p
    %label{:for => "preferences[email]"} E-Mail-Addresse
    %input{ name: "preferences[email]", value: @preferences.email, type: 'text', :placeholder => '(für Benachrichtigungen)', :size => 40 }
  
  %p
    %input{ type: 'submit', value: 'Speichern' }