%h1= @person.name

%p
  %a{ :href => "/people/#{@person.uid}" } Zurück

= haml :diff, :layout => false, :locals => { :old_version => @page.version-1, :new_version => @page.version, :page => @page }

- @versions.reverse.each do |version|
  = haml :diff, :layout => false, :locals => { :old_version => version.version-1, :new_version => version.version, :page => @page }
